{% load static %}
<div id="fh5co-blog-popular">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-12 col-md-offset-0 text-center fh5co-heading">
					<h2><span>Popüler Bloglar</span></h2>
				</div>
			</div>

			<div class="row">
                {% for rs in dayblogs %}

				<div class="col-md-3">
					<div class="fh5co-blog animate-box">
						<a href="/blog"><img class="img-responsive" src="{{ rs.image.url }}" style="height:250px"  alt=""></a>
						<div class="blog-text">
							<h3><a href="#">{{ rs.title }}</a></h3>
						</div>
					</div>
				</div>
                {% endfor %}
			</div>

		</div>
</div>

        <div id="fh5co-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-padded-right">
                        <div class="row">
                            {% for rs in lastblogs %}
                            <div class="col-md-12">
                                <div class="fh5co-blog animate-box">
                                    <div class="title title-pin text-center">
                                        <!--<span class="posted-on">Nov. 15th 2016</span>-->
                                        <h3><a href="/blog">{{rs.title}}</a></h3>
                                        <!--<span class="category">Lifestyle</span>-->
                                    </div>
                                    <a href="#"><img class="img-responsive" src="{{rs.image.url}}" style="height:400px" alt=""></a>
                                    <div class="blog-text text-center">
                                       <p>{{ rs.description}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            {% for rs in randomblogs %}
                            <div class="col-md-6">
                                <div class="fh5co-blog animate-box">
                                    <div class="title text-center">
                                        <!--<span class="posted-on">Nov. 15th 2016</span>-->
                                        <h3><a href="/blog">{{rs.title}}</a></h3>
                                        <!--<span class="category">Lifestyle</span>-->
                                    </div>
                                    <a href="/blog"><img class="img-responsive" src="{{rs.image.url}}" style="height:250px" alt=""></a>
                                    <div class="blog-text text-center">
                                        <p> {{ rs.description }}</p>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

<!--SİDEBAR-->
				    <aside id="sidebar">
                        <div class="col-md-3">
                            <div class="side animate-box">
                                <div class="col-md-12 col-md-offset-0 text-center fh5co-heading fh5co-heading-sidebar">
                                    <h2><span>Category</span></h2>
                                </div>
                                <ul class="category">
                                <!--temlatede kategoriyi dinamik hale getiriyorum
                                altta ki categori viewden çağırdım..django mptt kütüphanesini kullanarak kategoriyi adminde
                                işlevsel hale getirdik-->
                                    {% load mptt_tags %}

                                    {% recursetree category %}
                                        <li class="has-dropdown">
                                            <a href="/category/{{ node.id }}/{{ node.slug }}"><i class="icon-check"></i>{{ node.title }}</a>
                                            <ul class="dropdown">

                                            {% if not node.is_leaf_node %}
                                                <ul class="children">
                                                <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{children}}</a></li>
                                                </ul>
                                            {% endif %}
                                            </ul>
                                         </li>
                                    {% endrecursetree %}
                                </ul>
                            </div>

                            <div class="side animate-box">
                                <div class="col-md-12 col-md-offset-0 text-center fh5co-heading fh5co-heading-sidebar">
                                    <h2><span>Hakkımızda?</span></h2>
                                </div>
                                <div class="fh5co-staff">
                                    <img src="{% static 'images/user-2.jpg' %}" alt="Free HTML5 Templates by FreeHTML5.co">
                                    <p>Quos quia provident conse culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita.</p>
                                </div>
                            </div>

                        </div>
				    </aside>

			    </div>
            </div>
        </div>



