<!--bu sayfasa homebase e bağlı olarak çalışıcam-->
{% extends 'homebase.html' %}

{% block title %}Hakkımızda-{{setting.company}}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}"/>
{% endblock %}
{% block content %}
<div id="fh5co-content" class="fh5co-no-pd-top">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2><span>Hakkımızda</span></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="fh5co-staff">

						{{ setting.aboutus|safe }} <!--safe olması html taglarıda gelir-->

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
<!--burada eklediğimiz şeyler sayfada görünmesini istediğimiz şeyler-->