<!--bu sayfasa homebase e bağlı olarak çalışıcam-->
{% extends 'homebase.html' %}

{% block title %}{{setting.company}}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}"/>
{% endblock %}
{% block content %}
<div id="fh5co-content" class="fh5co-no-pd-top">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2><span>Iletişim</span></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="fh5co-staff">

						{{ setting.contact|safe }}

					</div>
				</div>
			</div>
            <div id="fh5co-contact" class="fh5co-no-pd-top">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-12 col-md-offset-0 text-center fh5co-heading">
					<h2><span>Bize Ulaşın</span></h2>
				</div>
			</div>
            {% if messages %}
                {%  for message in messages %}
                    <div class="alert alert-{{ message.tags }}" roles="alert"> <!--alert alert success-->
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form action="" methods="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="SEND FORM">
            </form>

		</div>
	</div>

{% endblock %}
<!--burada eklediğimiz şeyler sayfada görünmesini istediğimiz şeyler-->